.content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 450px;

      h1 {
        font-size: 6rem;
        font-weight: bold;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
          to bottom,
          #fff 0,
          rgba(53, 53, 53) 95%
        );
      }
    }
  