<om-gridpattern
        [smallGrid]="true"
        [gridColor]="'rgb(66,66,66)'"
        [gradientColor]="'rgb(0, 0, 0)'"
        >
            <om-spotlight [animation]="true" styleClass="custom-spotlight">
                <div class="content gap-4">
                    <h1 class="text-8xl font-bold text-center">
                        ¿Listo para transformar tu cultura?
                    </h1>
                    <p class="text-3xl w-3/4 text-center text-gray-400">
                        Sé parte de la nueva generación de empresas que están cerrando la brecha de comunicación con honestidad y transparencia.
                    </p>
                </div>
            </om-spotlight>
</om-gridpattern>